body {
    max-width: 100%;
    overflow-x: hidden;
  }

.Rectangle-21 {
    width: 1440px;
    height: 1024px;
    padding: 33px 0 39px 22px;
    /*CSS3 linear gradient background*/
    background-image: linear-gradient(306deg, #f9d3ab, #f9d6b0ee , #fff0);
    position: relative;
  }

  .nav {
    position: absolute;
  }

  img.Navigation {
    width: 1500px;
    height: 102px;
    margin: 0 0 41px;
    padding: 14px 1057px 15px 0;
    position: absolute;
  }

  .clicks{
    position: absolute;
    left: 430px;
    top: 87px;
  }

  a{

    text-decoration: none;
    position: relative;
  }

  a.main{
    margin: 0px 0px 0px 160px;
  }

  a.services{
    margin: 0px 0px 0px 60px;
  }

  a.concerns{
    margin-left: 49px;
  }

  a.products{
    margin-left: 60px;
  }

  a.contact{
    margin-left: 70px;
  }






  img.Word-logo {
    width: 80px;
    height: 73px;
    margin: 0 241px 1000 0;
    padding-top: 25px;
    position: relative;

  }

  img.SKIN-logo {
    width: 250px;
    height: 65px;
    margin: 5px 0 3px 71px;
    position: relative;
  }

  /*body*/
  .Rectangle-22 {
  width: 1263px;
  height: 651px;
  margin: 70px 66px 0 0px;
  padding: 158px 0 0 83px;
  background-image: linear-gradient(117deg, #a98255 -12%, #f4f4f4 46%);
}


img.Home-model {
    width: 600px;
    height: 651px;
    margin: 0 0 0 662px;
    position: absolute;
  }


 /*TEXT*/

/*CSS3 - animation*/
 .Your-hub-for-All-Skin-Care-Treatments {
    width: 725px;
    height: 352px;
    margin: 57px 500px 34px 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 96px;
    font-weight: 200;
    font-stretch: condensed;
    font-style: normal;
    line-height: 2.3cm;
    letter-spacing: 19.2px;
    text-align: left;
    color: #000;
    position: relative;
    animation: fadeInOut 2s infinite alternate; /* Animation properties */
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .TESTIMONIALS {
    width: 352px;
    height: 37px;
    margin: 34px 465px 171px 408px;
    font-family: "Questrial", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 5cm;
    letter-spacing: 6.4px;
    text-align: left;
    color: #000;
    position: relative;
    text-decoration: underline
  }
